@model CartModel
@{
    ViewData["Title"] = "Index";
}

<h1>Alışveriş Kartı</h1>

<div class="row mt-5">
    <div class="col-md-8">
        <div class="text-left">
            <h4>
                Kart Ögeleri
            </h4>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>Ürün Adı</th>
                    <th>Fiyat</th>
                    <th>Adet</th>
                    <th>Toplam</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CartItems)
                {
                <tr>
                    <td>
                        <img src="~/images/@item.ImageUrl" alt="@item.Name" width="80" />
                    </td>
                    <td>@item.Name</td>
                    <td>@item.Price.ToString("c")</td>
                    <td>@item.Quantity</td>
                    <td>@((item.Quantity*item.Price).ToString("c"))</td>
                    <td>
                        <form asp-controller="CartItem" asp-action="DeleteCartItem" method="post">
                            <input type="hidden" name="cartItemId" value="@item.CartItemId"/>
                            <button type="submit" class="btn btn-danger btn-sm">
                                <i class="fa fa-times fa-fw"></i>
                            </button>
                        </form>
                    </td>
                </tr>
                }
            </tbody>
            <tr>
                <td></td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <div class="text-left">
            <h4>Kart Özeti</h4>
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td>Kart Toplamı</td>
                        <td>@Model.TotalPrice().ToString("c")</td>
                    </tr>
                    <tr>
                        <td>Kargo</td>
                        <td>Ücretsiz</td>
                    </tr>
                    <tr>
                        <td>Sipariş Toplamı</td>
                        <td>@Model.TotalPrice().ToString("c")</td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center">
                <a asp-controller="Home" asp-action="Index" class="btn btn-primary">
                    <i class="fa fa-arrow-circle-left fa-fw"></i>
                    Alışverişe DevamEt
                </a>
                <a asp-controller="Cart" asp-action="CheckOut" class="btn btn-primary">
                    <i class="fa fa-arrow-circle-right fa-fw"></i>
                    Ödeme
                </a>
            </div>
        </div>
    </div>
</div>
